{
  "openapi": "3.0.3",
  "info": {
    "title": "Agntix API",
    "version": "1.0.0",
    "description": "Unified API for the Agentix AI platform — agents, chat, voice, telephony, analytics, and more.",
    "contact": {
      "email": "support@agntix.ai",
      "url": "https://agntix.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.agntix.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/chat/agents": {
      "post": {
        "operationId": "AgentsController_create",
        "summary": "Create a new agent",
        "deprecated": true,
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateAgentDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The agent has been successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_CreateAgentDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Invalid agent configuration."
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "get": {
        "operationId": "AgentsController_findAll",
        "summary": "Get all agents",
        "deprecated": true,
        "parameters": [],
        "responses": {
          "200": {
            "description": "Return all agents.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChatEngine_AgentWithModel"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/agents/validate-config": {
      "post": {
        "operationId": "AgentsController_validateConfig",
        "summary": "Validate agent configuration",
        "deprecated": true,
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateAgentDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent configuration validated successfully."
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/agents/templates": {
      "get": {
        "operationId": "AgentsController_findAllTemplates",
        "summary": "Get all agent templates",
        "description": "Retrieve pre-built agent templates organized by use case (customer service, sales, support, etc.). Each template includes a ready-to-use system prompt, model configuration, and recommended tool setup. Use templates as starting points when creating new agents.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Return all agent templates.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChatEngine_AgentsTemplateDto"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/agents/configs": {
      "get": {
        "operationId": "AgentsController_getDefaultConfigs",
        "summary": "Get agents default values",
        "description": "Get default configuration values for agent creation including timeout settings, max active sessions, max messages, token limits, and intelligence feature flags (sentiment analysis, intent detection, data extraction).",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Return agent default values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_AgentDefaultConfig"
                }
              }
            }
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/agents/{id}": {
      "get": {
        "operationId": "AgentsController_findOne",
        "summary": "Get an agent by id",
        "description": "Retrieve a specific agent with full configuration including system prompt, attached model, tools, knowledge stores, voice configuration, phone numbers, and intelligence settings.",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Agent ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return the agent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_AgentWithModel"
                }
              }
            }
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "operationId": "AgentsController_update",
        "summary": "Update an agent",
        "description": "Update an agent's configuration. Supports partial updates — only include fields you want to change. Updatable fields include system prompt, model, tools, knowledge store, voice configuration, intelligence settings, and avatar.",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Agent ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_UpdateAgentV2Dto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The agent has been successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_UpdateAgentV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Invalid agent configuration."
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "operationId": "AgentsController_remove",
        "summary": "Delete an agent",
        "description": "Permanently delete an agent and its configuration. Existing chat sessions and analytics data are retained but the agent cannot be used for new conversations.",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Agent ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The agent has been successfully deleted."
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/agents/{id}/sub-agents/{mappingId}": {
      "delete": {
        "operationId": "AgentsController_deleteSubAgent",
        "summary": "Delete a sub-agent mapping (hard delete subtree)",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Agent ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mappingId",
            "required": true,
            "in": "path",
            "description": "AgentSubAgentMapping ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/agents/{id}/tools": {
      "delete": {
        "operationId": "AgentsController_detachTool",
        "summary": "Remove tool from agent",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Agent ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_DetachAgentToolsDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool has been been detached successfully from agent."
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/agents/{id}/knowledge-store": {
      "delete": {
        "operationId": "AgentsController_detachKnowledgeStore",
        "summary": "Remove knowledge store from agent",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_DetachAgentKnowledgeStoreDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The knowledge store is been detached successfully from agent."
          },
          "400": {
            "description": "Bad Request. Agent id is required"
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/agents/{id}/generate-questions": {
      "post": {
        "operationId": "AgentsController_generateAgentQuestions",
        "summary": "Generates agent questions",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_GenerateAgentQuestionsDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Questions Successfully Generated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_GenerateAgentQuestionsDto"
                }
              }
            }
          },
          "400": {
            "description": "Agent does not exists"
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/agents/{id}/resolution-definitions/generate": {
      "post": {
        "operationId": "AgentsController_generateResolutionTaxonomy",
        "summary": "Generate a MECE resolution taxonomy for the agent",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_GenerateResolutionTaxonomyRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Generated resolution taxonomy tailored to the agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_GenerateResolutionTaxonomyResponseDto"
                }
              }
            }
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/agents/{id}/resolution-definitions/validate": {
      "post": {
        "operationId": "AgentsController_validateResolutionDefinitions",
        "summary": "Validate resolution definitions and checklists",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_ValidateResolutionDefinitionsRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation results with scores and findings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_ValidateResolutionDefinitionsResponseDto"
                }
              }
            }
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/agents/{agentId}/voice-configs/{voiceConfigId}": {
      "delete": {
        "operationId": "AgentsController_detachVoiceConfig",
        "summary": "Remove voice config from agent",
        "parameters": [
          {
            "name": "agentId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "voiceConfigId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The voice config is been detached successfully from agent."
          },
          "400": {
            "description": "Bad Request. Agent id is required"
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/agents/{id}/clone": {
      "post": {
        "operationId": "AgentsController_cloneAgent",
        "summary": "Clone an existing agent with all its configurations",
        "description": "Create a duplicate of an agent including system prompt, attached tools, knowledge stores, voice configuration, and intelligence settings. The cloned agent gets a new ID and can be modified independently.",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "ID of the agent to clone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The agent has been successfully cloned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_AgentWithModel"
                }
              }
            }
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/agents/{id}/chat-intelligence-filters": {
      "get": {
        "operationId": "AgentsController_getAgentChatIntelligenceFilters",
        "summary": "Get distinct resolution statuses and sentiments for an agent",
        "description": "Retrieve list of distinct resolution status values and sentiment values for a specific agent. Useful for populating filter dropdowns.",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "The ID of the agent to get distinct options for",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "description": "Start date for the query (ISO string)",
            "schema": {
              "example": "2024-01-01T00:00:00.000Z",
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "required": false,
            "in": "query",
            "description": "End date for the query (ISO string)",
            "schema": {
              "example": "2024-01-31T23:59:59.999Z",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent distinct options retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_AgentDistinctOptionsResponseDto"
                }
              }
            }
          }
        },
        "tags": [
          "agents"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v2/chat/agents": {
      "post": {
        "operationId": "AgentsV2Controller_create",
        "summary": "Create a new agent",
        "description": "Create a new AI agent for a specific domain (call center, support, sales). Requires a system prompt (128-4096 characters) defining the agent behavior, an LLM model ID, and a role. Optionally attach tools, a knowledge store, voice configuration, and intelligence features (sentiment analysis, intent detection).",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateAgentV2Dto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The agent has been successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_CreateAgentV2Dto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Invalid agent configuration."
          }
        },
        "tags": [
          "agents-v2"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "get": {
        "operationId": "AgentsV2Controller_findAll",
        "summary": "Get all agents",
        "description": "List all agents for the authenticated organization with optional filters and pagination. Returns agent details including attached model, tools count, and voice configuration status. Use page and limit query parameters for pagination.",
        "parameters": [
          {
            "name": "agentIds",
            "required": false,
            "in": "query",
            "description": "Agent ids",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "Search string (minimum 3 characters)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeSubAgents",
            "required": false,
            "in": "query",
            "description": "Include sub-agents in the response",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return all agents.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChatEngine_AgentWithModel"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "agents-v2"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v2/chat/agents/validate-config": {
      "post": {
        "operationId": "AgentsV2Controller_validateConfig",
        "summary": "Validate agent configuration",
        "description": "Validate an agent configuration without creating the agent. Checks system prompt length, model compatibility, tool attachments, and knowledge store integration. Use this before create-agent to catch errors early.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateAgentV2Dto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent configuration validated successfully."
          }
        },
        "tags": [
          "agents-v2"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v2/chat/agents/{id}": {
      "get": {
        "operationId": "AgentsV2Controller_findOne",
        "summary": "Get an agent by id",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return the agent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_AgentWithModel"
                }
              }
            }
          }
        },
        "tags": [
          "agents-v2"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "operationId": "AgentsV2Controller_update",
        "summary": "Update an agent (supports subAgents replace)",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_UpdateAgentV2Dto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "agents-v2"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v2/chat/agents/{id}/avatar": {
      "post": {
        "operationId": "AgentsV2Controller_uploadAvatar",
        "summary": "Upload or replace agent avatar",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "avatar"
                ],
                "properties": {
                  "avatar": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Avatar uploaded."
          },
          "400": {
            "description": "Invalid file."
          }
        },
        "tags": [
          "agents-v2"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "operationId": "AgentsV2Controller_deleteAvatar",
        "summary": "Remove agent avatar",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Avatar removed."
          }
        },
        "tags": [
          "agents-v2"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v2/chat/agents/{id}/sub-agents/{mappingId}": {
      "delete": {
        "operationId": "AgentsV2Controller_deleteSubAgent",
        "summary": "Delete a sub-agent mapping (hard delete subtree)",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mappingId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "agents-v2"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/public/agents/{id}": {
      "get": {
        "operationId": "AgentsPublicController_getAgentById",
        "summary": "Get public agent details by ID",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "ID of the agent",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns public agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_PublicAgentDto"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found"
          }
        },
        "tags": [
          "public"
        ]
      }
    },
    "/v1/chat/voice/token": {
      "post": {
        "operationId": "VoiceController_getToken",
        "summary": "Create public voice token",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateVoiceTokenDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns public voice token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Voice"
        ]
      }
    },
    "/v1/chat/voice/sessions": {
      "post": {
        "operationId": "VoiceController_createChatSession",
        "summary": "Create a new voice session",
        "description": "Create a voice session for real-time audio conversation with an agent. Requires an agentId with voice enabled and configured STT/TTS models. The session is created on the chat engine side; to initiate the actual voice call pipeline, use the voice API service.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateVoiceSessionDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The voice session has been created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_VoiceSessionResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Voice"
        ]
      }
    },
    "/v1/chat/voice/sessions/{sessionId}/messages": {
      "post": {
        "operationId": "VoiceController_sendMessage",
        "summary": "Send a voice message as text",
        "parameters": [
          {
            "name": "sessionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateVoiceMessageDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The message stream has started."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "voice session not found"
          }
        },
        "tags": [
          "Voice"
        ]
      }
    },
    "/v1/chat/voice/agents/{agentId}": {
      "get": {
        "operationId": "VoiceController_getLiteAgent",
        "summary": "Get agent details for voice use",
        "parameters": [
          {
            "name": "agentId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns minimal agent information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_VoiceAgentLiteDto"
                }
              }
            }
          }
        },
        "tags": [
          "Voice"
        ]
      }
    },
    "/v1/chat/voice/sessions/{chatSessionId}/analytics": {
      "patch": {
        "operationId": "VoiceController_updateSessionAnalytics",
        "summary": "Update analytics data for a chat session",
        "description": "Updates status and endedReason for a chat session analytics. Duration is handled by /usage API. Used by voice microservice.",
        "parameters": [
          {
            "name": "chatSessionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_VoiceAnalyticsUpsertDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analytics data updated successfully"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Chat session not found"
          }
        },
        "tags": [
          "Voice"
        ]
      }
    },
    "/v1/chat/public/voice/token": {
      "post": {
        "operationId": "VoicePublicController_getToken",
        "summary": "Create public voice token",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateVoiceTokenDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns public voice token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_CreateVoiceTokenDto"
                }
              }
            }
          }
        },
        "tags": [
          "public"
        ]
      }
    },
    "/v1/chat/chat/sessions": {
      "post": {
        "operationId": "ChatController_createChatSession",
        "summary": "Create a new chat session",
        "description": "Create a new chat session for multi-turn conversation with an agent. Requires an agentId. A session persists messages, context, and analytics across multiple message exchanges. Returns a session ID used for sending messages.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateChatSessionDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The chat session has been created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_ChatSessionResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "chat"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "get": {
        "operationId": "ChatController_listChatSessions",
        "summary": "List chat sessions",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number for pagination (defaults to 1)",
            "schema": {
              "example": 1,
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "required": false,
            "in": "query",
            "description": "Number of results per page (defaults to 20)",
            "schema": {
              "example": 20,
              "type": "number"
            }
          },
          {
            "name": "agentId",
            "required": false,
            "in": "query",
            "description": "Agent ID to filter by (required when using resolutionStatus or sentiment filters)",
            "schema": {
              "example": "a5d6fdd2-71ab-47e9-8231-ea91fa32cbfe",
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "required": false,
            "in": "query",
            "description": "Campaign ID to filter by",
            "schema": {
              "example": "a5d6fdd2-71ab-47e9-8231-ea91fa32cbfe",
              "type": "string"
            }
          },
          {
            "name": "state",
            "required": false,
            "in": "query",
            "description": "State of the chat session (e.g., \"ACTIVE\", \"COMPLETED\")",
            "schema": {
              "enum": [
                "IDLE",
                "ACTIVE",
                "CLOSED"
              ],
              "type": "string"
            }
          },
          {
            "name": "sessiontype",
            "required": false,
            "in": "query",
            "description": "Type of the session (e.g., \"CHAT\", \"VOICE\")",
            "schema": {
              "enum": [
                "VOICE",
                "CHAT"
              ],
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "description": "Filter by start date (ISO 8601 format)",
            "schema": {
              "example": "2024-01-01T00:00:00Z",
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "required": false,
            "in": "query",
            "description": "Filter by end date (ISO 8601 format)",
            "schema": {
              "example": "2024-12-31T23:59:59Z",
              "type": "string"
            }
          },
          {
            "name": "resolutionStatus",
            "required": false,
            "in": "query",
            "description": "Filter by resolution status (requires agentId)",
            "schema": {
              "example": "resolved",
              "type": "string"
            }
          },
          {
            "name": "sentiment",
            "required": false,
            "in": "query",
            "description": "Filter by sentiment (requires agentId)",
            "schema": {
              "example": "positive",
              "type": "string"
            }
          },
          {
            "name": "minReportedMinutes",
            "required": false,
            "in": "query",
            "description": "Filter sessions where reportedMinutes > value",
            "schema": {
              "example": 1,
              "type": "number"
            }
          },
          {
            "name": "customerPhoneNumber",
            "required": false,
            "in": "query",
            "description": "Partial search on metadata.customerPhoneNumber",
            "schema": {
              "example": "+15551234567",
              "type": "string"
            }
          },
          {
            "name": "outgoingPhoneNumber",
            "required": false,
            "in": "query",
            "description": "Partial search on metadata.outgoingPhoneNumber",
            "schema": {
              "example": "+15557654321",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chat sessions have been retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_PaginatedChatSessionsResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "chat"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/chat/sessions/{sessionId}/messages": {
      "post": {
        "operationId": "ChatController_sendMessage",
        "summary": "Send a message to the chat",
        "description": "Send a user message to an agent and receive a response. Set stream to true for real-time Server-Sent Events (SSE) streaming, or stream to false for a complete JSON response with the full agent reply. Non-streaming mode returns { content: AiMessage }. The agent may invoke tools during the response.",
        "parameters": [
          {
            "name": "sessionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateChatMessageDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The message stream has started."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Chat session not found"
          }
        },
        "tags": [
          "chat"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "get": {
        "operationId": "ChatController_listMessages",
        "summary": "List all messages of the chat",
        "description": "Get the full conversation history for a chat session in chronological order. Each message includes role (user, assistant, system, tool), content, timestamp, and any tool call results.",
        "parameters": [
          {
            "name": "sessionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The messages have been retrieved successfully."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Chat session not found"
          }
        },
        "tags": [
          "chat"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "patch": {
        "operationId": "ChatController_updateChatSession",
        "summary": "Update a chat session",
        "parameters": [
          {
            "name": "sessionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_ChatMessageDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The chat messages has been updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_ChatSessionResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Chat session not found"
          }
        },
        "tags": [
          "chat"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/chat/sessions/{sessionId}": {
      "get": {
        "operationId": "ChatController_getChatSession",
        "summary": "Get a chat session by ID",
        "parameters": [
          {
            "name": "sessionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chat session has been retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_ChatSessionResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Chat session not found"
          }
        },
        "tags": [
          "chat"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/chat/sessions/{sessionId}/close": {
      "patch": {
        "operationId": "ChatController_closeChatSession",
        "summary": "Close a chat session",
        "parameters": [
          {
            "name": "sessionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chat session has been closed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_ChatSessionResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Chat session not found"
          }
        },
        "tags": [
          "chat"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/chat/histories/by-agent-id/{agentId}": {
      "get": {
        "operationId": "ChatController_getHistoryByAgentId",
        "summary": "Get chat by agent Id",
        "parameters": [
          {
            "name": "agentId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessiontype",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chat againts agent found successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_ChatHistoryResponseDto"
                }
              }
            }
          }
        },
        "tags": [
          "chat"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/chat/sessions/{sessionId}/events": {
      "get": {
        "operationId": "ChatController_listMessageEvents",
        "summary": "List all Events of the chat",
        "parameters": [
          {
            "name": "sessionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Events have been retrieved successfully."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Chat session not found"
          }
        },
        "tags": [
          "chat"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "post": {
        "operationId": "ChatController_createVoiceMessageEvent",
        "summary": "List all Events of the chat",
        "parameters": [
          {
            "name": "sessionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Events have been retrieved successfully."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Chat session not found"
          }
        },
        "tags": [
          "chat"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/chat/sessions/download/csv": {
      "get": {
        "operationId": "ChatController_downloadSessionsCSV",
        "summary": "Download chat sessions as CSV",
        "description": "Download chat session data including messages and intelligence analysis as CSV file. If no dates provided, defaults to last 7 days. Maximum date range is 6 months.",
        "parameters": [
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "description": "Start date (ISO 8601 format). Defaults to 7 days ago if not provided.",
            "schema": {
              "example": "2024-01-01T00:00:00Z",
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "required": false,
            "in": "query",
            "description": "End date (ISO 8601 format). Defaults to current date if not provided.",
            "schema": {
              "example": "2024-01-31T23:59:59Z",
              "type": "string"
            }
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "description": "Filter by interaction type",
            "schema": {
              "enum": [
                "TEXT",
                "VOICE"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV file downloaded successfully",
            "headers": {
              "Content-Type": {
                "description": "text/csv"
              },
              "Content-Disposition": {
                "description": "attachment; filename=\"sessions.csv\""
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid date range or format"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "chat"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v2/chat/chat/sessions/{sessionId}": {
      "get": {
        "operationId": "ChatControllerV2_getChatSessionById",
        "summary": "Get a chat session by ID (v2)",
        "parameters": [
          {
            "name": "sessionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_ChatSessionResponseV2Dto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Chat session not found"
          }
        },
        "tags": [
          "chat-v2"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/public/chat/sessions": {
      "post": {
        "operationId": "ChatPublicController_createChatSession",
        "summary": "Create a new public chat session",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateChatSessionDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The chat session has been created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_ChatSessionResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "public"
        ]
      }
    },
    "/v1/chat/public/chat/sessions/{sessionId}": {
      "get": {
        "operationId": "ChatPublicController_getChatSession",
        "summary": "Get a public chat session",
        "parameters": [
          {
            "name": "sessionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chat session was found."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "public"
        ]
      }
    },
    "/v1/chat/public/chat/sessions/{sessionId}/messages": {
      "get": {
        "operationId": "ChatPublicController_getChatSessionMessages",
        "summary": "Get a public chat session messages",
        "parameters": [
          {
            "name": "sessionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chat session messages were found."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "public"
        ]
      },
      "post": {
        "operationId": "ChatPublicController_sendMessage",
        "summary": "Send a message to the chat",
        "parameters": [
          {
            "name": "sessionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateChatMessageDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The message stream has started."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Chat session not found"
          }
        },
        "tags": [
          "public"
        ]
      }
    },
    "/v1/chat/public/chat/sessions/{sessionId}/close": {
      "patch": {
        "operationId": "ChatPublicController_closeChatSession",
        "summary": "Close a chat session",
        "parameters": [
          {
            "name": "sessionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The chat session has been closed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_ChatSessionResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Chat session not found"
          }
        },
        "tags": [
          "public"
        ]
      }
    },
    "/v1/chat/models": {
      "post": {
        "operationId": "ModelsController_create",
        "summary": "Create a new model/models",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateModelsDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The model has been successfully created."
          },
          "400": {
            "description": "Invalid request body - must be a non-empty array of models"
          }
        },
        "tags": [
          "models"
        ]
      },
      "get": {
        "operationId": "ModelsController_getModels",
        "summary": "Get all models",
        "description": "List all available AI models grouped by provider. Each provider entry contains a models array — use models[].id (UUID) when calling create-agent or update-agent. Filter by type (text-to-text, text-to-speech, speech-to-text, speech-to-speech) to get only LLM, TTS, STT, or STS models respectively.",
        "parameters": [
          {
            "name": "id",
            "required": false,
            "in": "query",
            "description": "Model ids",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "description": "Model type",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "provider",
            "required": false,
            "in": "query",
            "description": "Model provider",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "name",
            "required": false,
            "in": "query",
            "description": "Model name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isActive",
            "required": false,
            "in": "query",
            "description": "Is model active",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          },
          {
            "name": "audio",
            "required": false,
            "in": "query",
            "description": "Is model audio",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          },
          {
            "name": "vision",
            "required": false,
            "in": "query",
            "description": "Is model vision",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return all models grouped by provider. Each model has an id (UUID) field.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChatEngine_ModelsByProviderDto"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "models"
        ]
      }
    },
    "/v1/chat/models/list": {
      "get": {
        "operationId": "ModelsController_getModelsList",
        "summary": "Get all models",
        "parameters": [
          {
            "name": "page",
            "required": true,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": true,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "id",
            "required": false,
            "in": "query",
            "description": "Model ids",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "description": "Model type",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "provider",
            "required": false,
            "in": "query",
            "description": "Model provider",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "name",
            "required": false,
            "in": "query",
            "description": "Model name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isActive",
            "required": false,
            "in": "query",
            "description": "Is model active",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          },
          {
            "name": "audio",
            "required": false,
            "in": "query",
            "description": "Is model audio",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          },
          {
            "name": "vision",
            "required": false,
            "in": "query",
            "description": "Is model vision",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return all models."
          }
        },
        "tags": [
          "models"
        ]
      }
    },
    "/v1/chat/models/filters": {
      "get": {
        "operationId": "ModelsController_getModelsFilters",
        "summary": "Get model filters",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Return model filters."
          }
        },
        "tags": [
          "models"
        ]
      }
    },
    "/v1/chat/models/providers": {
      "get": {
        "operationId": "ModelsController_getProviders",
        "summary": "Get all providers",
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return all providers."
          }
        },
        "tags": [
          "models"
        ]
      }
    },
    "/v1/chat/models/{id}": {
      "get": {
        "operationId": "ModelsController_findOne",
        "summary": "Get a model by id",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return the model."
          }
        },
        "tags": [
          "models"
        ]
      },
      "patch": {
        "operationId": "ModelsController_update",
        "summary": "Update a model",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_UpdateModelDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The model has been successfully updated."
          }
        },
        "tags": [
          "models"
        ]
      },
      "delete": {
        "operationId": "ModelsController_remove",
        "summary": "Delete a model",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The model has been successfully deleted."
          },
          "400": {
            "description": "Bad request. The model cannot be deleted."
          }
        },
        "tags": [
          "models"
        ]
      }
    },
    "/v1/chat/models/{id}/pricing": {
      "patch": {
        "operationId": "ModelsController_updatePricing",
        "summary": "Update a model pricing",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_UpdateModelPricingDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The model pricing has been successfully updated."
          }
        },
        "tags": [
          "models"
        ]
      }
    },
    "/v1/chat/analytics/calls/stats": {
      "get": {
        "operationId": "AnalyticsController_getCallStats",
        "summary": "Get call statistics",
        "description": "Retrieve analytics for voice calls including active, failed, missed, and total inbound calls",
        "parameters": [
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "description": "Start date for the query (ISO string)",
            "schema": {
              "example": "2024-01-01T00:00:00.000Z",
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "required": false,
            "in": "query",
            "description": "End date for the query (ISO string)",
            "schema": {
              "example": "2024-01-31T23:59:59.999Z",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call statistics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activeCalls": {
                      "type": "number",
                      "description": "Number of active calls"
                    },
                    "failedCalls": {
                      "type": "number",
                      "description": "Number of failed calls"
                    },
                    "missedCalls": {
                      "type": "number",
                      "description": "Number of missed calls"
                    },
                    "totalInboundCalls": {
                      "type": "number",
                      "description": "Total number of inbound calls"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/analytics/calls/end-reasons": {
      "get": {
        "operationId": "AnalyticsController_getCallEndReasons",
        "summary": "Get call end reasons for pie chart",
        "description": "Retrieve call end reasons with counts and percentages for pie chart visualization",
        "parameters": [
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "description": "Start date for the query (ISO string)",
            "schema": {
              "example": "2024-01-01T00:00:00.000Z",
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "required": false,
            "in": "query",
            "description": "End date for the query (ISO string)",
            "schema": {
              "example": "2024-01-31T23:59:59.999Z",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call end reasons retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "reason": {
                        "type": "string",
                        "description": "End reason (e.g., transferred, completed, failed)"
                      },
                      "count": {
                        "type": "number",
                        "description": "Number of calls with this end reason"
                      },
                      "percentage": {
                        "type": "number",
                        "description": "Percentage of total calls",
                        "format": "float"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/analytics/calls/status": {
      "get": {
        "operationId": "AnalyticsController_getCallStatusDistribution",
        "summary": "Get call status distribution for pie chart",
        "description": "Retrieve call status distribution with counts and percentages for pie chart visualization",
        "parameters": [
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "description": "Start date for the query (ISO string)",
            "schema": {
              "example": "2024-01-01T00:00:00.000Z",
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "required": false,
            "in": "query",
            "description": "End date for the query (ISO string)",
            "schema": {
              "example": "2024-01-31T23:59:59.999Z",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call status distribution retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "Call status (e.g., STARTED, COMPLETED, FAILED, MISSED)"
                      },
                      "count": {
                        "type": "number",
                        "description": "Number of calls with this status"
                      },
                      "percentage": {
                        "type": "number",
                        "description": "Percentage of total calls",
                        "format": "float"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/analytics/calls/duration-distribution": {
      "get": {
        "operationId": "AnalyticsController_getCallDurationDistribution",
        "summary": "Get call duration distribution for line chart",
        "description": "Retrieve call duration sum over time with dynamic grouping (day/week/month) for line chart visualization",
        "parameters": [
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "description": "Start date for the query (ISO string)",
            "schema": {
              "example": "2024-01-01T00:00:00.000Z",
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "required": false,
            "in": "query",
            "description": "End date for the query (ISO string)",
            "schema": {
              "example": "2024-01-31T23:59:59.999Z",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call duration distribution retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "period": {
                        "type": "string",
                        "description": "Time period label (date, week, or month)",
                        "example": "2024-01-15 or Week of 2024-01-15 or 2024-01"
                      },
                      "periodType": {
                        "type": "string",
                        "description": "Type of grouping used",
                        "enum": [
                          "day",
                          "week",
                          "month"
                        ],
                        "example": "day"
                      },
                      "totalDurationSeconds": {
                        "type": "number",
                        "description": "Total call duration in seconds for this period",
                        "example": 3600
                      },
                      "callCount": {
                        "type": "number",
                        "description": "Number of calls in this period",
                        "example": 25
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/analytics/calls/direction-distribution": {
      "get": {
        "operationId": "AnalyticsController_getCallDirectionDistribution",
        "summary": "Get call direction distribution for line chart",
        "description": "Retrieve inbound and outbound call counts over time with dynamic grouping (day/week/month) for line chart visualization",
        "parameters": [
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "description": "Start date for the query (ISO string)",
            "schema": {
              "example": "2024-01-01T00:00:00.000Z",
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "required": false,
            "in": "query",
            "description": "End date for the query (ISO string)",
            "schema": {
              "example": "2024-01-31T23:59:59.999Z",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call direction distribution retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "period": {
                        "type": "string",
                        "description": "Time period label (date, week, or month)",
                        "example": "2024-01-15 or Week of 2024-01-15 or 2024-01"
                      },
                      "periodType": {
                        "type": "string",
                        "description": "Type of grouping used",
                        "enum": [
                          "day",
                          "week",
                          "month"
                        ],
                        "example": "day"
                      },
                      "inboundCalls": {
                        "type": "number",
                        "description": "Number of inbound calls in this period",
                        "example": 15
                      },
                      "outboundCalls": {
                        "type": "number",
                        "description": "Number of outbound calls in this period",
                        "example": 10
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/analytics/calls/average-duration-distribution": {
      "get": {
        "operationId": "AnalyticsController_getAverageCallDurationDistribution",
        "summary": "Get average call duration distribution for line chart",
        "description": "Retrieve average call duration over time with dynamic grouping (day/week/month) and overall statistics for line chart visualization",
        "parameters": [
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "description": "Start date for the query (ISO string)",
            "schema": {
              "example": "2024-01-01T00:00:00.000Z",
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "required": false,
            "in": "query",
            "description": "End date for the query (ISO string)",
            "schema": {
              "example": "2024-01-31T23:59:59.999Z",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Average call duration distribution retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "periodData": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "period": {
                            "type": "string",
                            "description": "Time period label (date, week, or month)",
                            "example": "2024-01-15 or Week of 2024-01-15 or 2024-01"
                          },
                          "periodType": {
                            "type": "string",
                            "description": "Type of grouping used",
                            "enum": [
                              "day",
                              "week",
                              "month"
                            ],
                            "example": "day"
                          },
                          "averageDurationSeconds": {
                            "type": "number",
                            "description": "Average call duration in seconds for this period",
                            "format": "float",
                            "example": 180.5
                          },
                          "callCount": {
                            "type": "number",
                            "description": "Number of calls in this period",
                            "example": 25
                          }
                        }
                      }
                    },
                    "overallStatistics": {
                      "type": "object",
                      "properties": {
                        "overallAverageDurationSeconds": {
                          "type": "number",
                          "description": "Overall average call duration in seconds across all periods",
                          "format": "float",
                          "example": 195.75
                        },
                        "totalCallCount": {
                          "type": "number",
                          "description": "Total number of calls across all periods",
                          "example": 150
                        },
                        "periodType": {
                          "type": "string",
                          "description": "Type of grouping used for the data",
                          "enum": [
                            "day",
                            "week",
                            "month"
                          ],
                          "example": "day"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/analytics/agent/{agentId}/stats": {
      "get": {
        "operationId": "AnalyticsController_getAgentStats",
        "summary": "Get agent-specific analytics statistics",
        "description": "Retrieve comprehensive statistics for a specific agent including average call duration, total call minutes, transfer rate, and First Call Resolution (FCR) rate",
        "parameters": [
          {
            "name": "agentId",
            "required": true,
            "in": "path",
            "description": "The ID of the agent to get statistics for",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "description": "Start date for the query (ISO string)",
            "schema": {
              "example": "2024-01-01T00:00:00.000Z",
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "required": false,
            "in": "query",
            "description": "End date for the query (ISO string)",
            "schema": {
              "example": "2024-01-31T23:59:59.999Z",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent statistics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_AgentStatsResponseDto"
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/analytics/agent/{agentId}/resolution-outcomes": {
      "get": {
        "operationId": "AnalyticsController_getAgentResolutionOutcomes",
        "summary": "Get agent resolution outcome distribution for pie chart",
        "description": "Retrieve resolution outcome distribution with counts and percentages for pie chart visualization. Groups by user-defined resolution statuses.",
        "parameters": [
          {
            "name": "agentId",
            "required": true,
            "in": "path",
            "description": "The ID of the agent to get resolution outcomes for",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "description": "Start date for the query (ISO string)",
            "schema": {
              "example": "2024-01-01T00:00:00.000Z",
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "required": false,
            "in": "query",
            "description": "End date for the query (ISO string)",
            "schema": {
              "example": "2024-01-31T23:59:59.999Z",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent resolution outcomes retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_AgentResolutionOutcomeResponseDto"
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/analytics/agent/{agentId}/sentiment-distribution": {
      "get": {
        "operationId": "AnalyticsController_getAgentSentimentDistribution",
        "summary": "Get agent sentiment distribution for pie chart",
        "description": "Retrieve sentiment distribution with counts and percentages for pie chart visualization. Shows distribution of positive, negative, and neutral sentiments.",
        "parameters": [
          {
            "name": "agentId",
            "required": true,
            "in": "path",
            "description": "The ID of the agent to get sentiment distribution for",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "description": "Start date for the query (ISO string)",
            "schema": {
              "example": "2024-01-01T00:00:00.000Z",
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "required": false,
            "in": "query",
            "description": "End date for the query (ISO string)",
            "schema": {
              "example": "2024-01-31T23:59:59.999Z",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent sentiment distribution retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_AgentSentimentDistributionResponseDto"
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/analytics/agent/{agentId}/ended-reason-distribution": {
      "get": {
        "operationId": "AnalyticsController_getAgentEndedReasonDistribution",
        "summary": "Get agent ended reason distribution for pie chart",
        "description": "Retrieve call ended reason distribution with counts and percentages for pie chart visualization. Shows distribution of agent hangup, user hangup, transferred, etc.",
        "parameters": [
          {
            "name": "agentId",
            "required": true,
            "in": "path",
            "description": "The ID of the agent to get ended reason distribution for",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "description": "Start date for the query (ISO string)",
            "schema": {
              "example": "2024-01-01T00:00:00.000Z",
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "required": false,
            "in": "query",
            "description": "End date for the query (ISO string)",
            "schema": {
              "example": "2024-01-31T23:59:59.999Z",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent ended reason distribution retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_AgentEndedReasonDistributionResponseDto"
                }
              }
            }
          }
        },
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/analytics/session/{sessionId}/audio-analytics": {
      "get": {
        "operationId": "AnalyticsController_getSessionAudioAnalytics",
        "summary": "Get audio analytics for a voice session",
        "description": "Retrieve comprehensive audio analytics including agent performance, user experience, conversation analysis, and call quality metrics for a specific voice session",
        "parameters": [
          {
            "name": "sessionId",
            "required": true,
            "in": "path",
            "description": "The ID of the chat session to get audio analytics for",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audio analytics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEngine_AudioAnalyticsResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Session not found or not a voice session"
          }
        },
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/v1/chat/webhooks/applications": {
      "post": {
        "operationId": "WebhooksController_createApplication",
        "summary": "Create New Application",
        "description": "\n    This creates a new application for configuring webhooks, mainly used for multi tenancy purpose\n    Note: This is a management API and requires api-key\n    ",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateWebhookApplicationDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application Created"
          }
        },
        "tags": [
          "Webhooks"
        ]
      },
      "get": {
        "operationId": "WebhooksController_findApplications",
        "summary": "Retrieve all applications",
        "description": "\n    This retrives all the application for the webhooks configuation\n    Note: This is a management API and requires api-key\n    ",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of Applications"
          }
        },
        "tags": [
          "Webhooks"
        ]
      }
    },
    "/v1/chat/webhooks/endpoints": {
      "get": {
        "operationId": "WebhooksController_listEndpoints",
        "summary": "List webhook endpoints",
        "description": "\n    This lists all the endpoints for an application\n    Note: This is a management API and requires api-key\n    ",
        "parameters": [],
        "responses": {
          "201": {
            "description": "List of webhook endpoints"
          }
        },
        "tags": [
          "Webhooks"
        ]
      },
      "post": {
        "operationId": "WebhooksController_createEndpoint",
        "summary": "Create webhook endpoint with events",
        "description": "\n    This creates a new webhook endpoint, mainly used to create endpoint with event mapping\n    Note: This is a management API and requires api-key\n    ",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateWebhookEndpointDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The endpoint has been successfully created."
          }
        },
        "tags": [
          "Webhooks"
        ]
      }
    },
    "/v1/chat/webhooks/endpoints/{endpointId}": {
      "patch": {
        "operationId": "WebhooksController_updateEndpoint",
        "summary": "Update webhook endpoint with events",
        "description": "\n    This updates existing endpointfor an application\n    Note: This is a management API and requires api-key\n    ",
        "parameters": [
          {
            "name": "endpointId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_UpdateWebhookEndpointDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The endpoint has been successfully updated."
          }
        },
        "tags": [
          "Webhooks"
        ]
      },
      "delete": {
        "operationId": "WebhooksController_deleteEndpoint",
        "summary": "Delete webhook endpoint",
        "description": "\n    This deletes an endpoint, this is a soft delete and only marks endpoint as archived: true\n    Note: This is a management API and requires api-key\n    ",
        "parameters": [
          {
            "name": "endpointId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The endpoint has been successfully deleted."
          }
        },
        "tags": [
          "Webhooks"
        ]
      }
    },
    "/v1/chat/webhooks/event-types": {
      "get": {
        "operationId": "WebhooksController_listEventTypes",
        "summary": "Get Event types for webhook",
        "description": "\n    This lists all the event types in the webhooks configurations\n    Note: This is a management API and requires api-key\n    ",
        "parameters": [],
        "responses": {
          "200": {
            "description": "All Event Types for webhooks"
          }
        },
        "tags": [
          "Webhooks"
        ]
      },
      "post": {
        "operationId": "WebhooksController_createEvent",
        "summary": "Create Event types for webhook",
        "description": "\n    This creates an event-type for the webhooks, mainly used for introducing new events\n    Note: This is a management API and requires api-key\n    ",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateEventTypeDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The event type has been successfully created."
          }
        },
        "tags": [
          "Webhooks"
        ]
      }
    },
    "/v1/chat/webhooks/event-types/{eventTypeName}": {
      "patch": {
        "operationId": "WebhooksController_updateEvent",
        "summary": "Update Event type for webhook",
        "description": "\n    This updates an existing event type by name\n    Note: This is a management API and requires api-key\n    ",
        "parameters": [
          {
            "name": "eventTypeName",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_UpdateEventTypeDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The event type has been successfully updated."
          }
        },
        "tags": [
          "Webhooks"
        ]
      },
      "delete": {
        "operationId": "WebhooksController_deleteEvent",
        "summary": "Delete Event type for webhook",
        "description": "\n    This deletes an event type, this is a soft delete and only marks event as archived: true\n    Note: This is a management API and requires api-key\n    ",
        "parameters": [
          {
            "name": "eventTypeName",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The event type has been successfully deleted."
          }
        },
        "tags": [
          "Webhooks"
        ]
      }
    },
    "/v1/chat/webhooks/messages": {
      "post": {
        "operationId": "WebhooksController_sendMessage",
        "summary": "Broadcast event to all endpoints",
        "description": "\n    This creates a new message with the event type, which broadcasts it to all the endpoints connected to that event type\n    Note: This is a management API and requires api-key\n    ",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatEngine_CreateMessageDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "tags": [
          "Webhooks"
        ]
      }
    },
    "/v1/chat/webhooks/endpoints/{endpointId}/info": {
      "get": {
        "operationId": "WebhooksController_fetchWebhookInfo",
[...]
